$primary: rgba(255, 32, 32, 1);
$success: rgba(52, 211, 153, 1);
$border-primary: rgba(255, 255, 255, 0.5);
$border-secondary: rgba(112, 112, 112, 1);
$surface: rgb(16, 16, 16);
$font-primary: rgba(255, 255, 255, 1);
$font-secondary: rgba(255, 255, 255, 0.8);
$card-surface: rgb(40, 40, 40);
$table-surface: rgb(30, 30, 30);
$overlay: rgba(255, 255, 255, 0.2);
