@import "../../config/theme.scss";

.button {
  height: 48px;
  display: flex;
  padding: 1.125rem 1.5rem;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  &:active {
    transform: scale(0.98);
  }
}

.primary {
  background-color: #ff2020;
  color: #ffffff;
  border: none;
}

.white {
  border: none;
  background-color: $font-primary;
  color: $card-surface;
}
.outline {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.card {
  padding: 4rem;
  border-radius: 10px;
  background-color: $card-surface;
  color: $font-primary;
}

.modal {
  display: grid;
  position: fixed;
  top: 0;
  pointer-events: all;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $overlay;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $font-primary;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $font-secondary;
}
